@charset "UTF-8";

#header {
	top: 0px;
	left: 0px;
	background-color: transparent;
	background-image: url(./nav-bg.png);
	background-repeat: repeat-x;
	height: 40px;
	position: fixed;
	width: 100%;
	z-index: 11;

}

body {
	margin: 0;
	background: #2E3437;
}

@font-face {
    font-family: 'MelbourneBold';
    src: url('melbourne_bold-webfont.eot');
    src: url('melbourne_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('melbourne_bold-webfont.woff') format('woff'),
         url('melbourne_bold-webfont.ttf') format('truetype'),
         url('melbourne_bold-webfont.svg#MelbourneBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MelbourneLight';
    src: url('melbourne_light-webfont.eot');
    src: url('melbourne_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('melbourne_light-webfont.woff') format('woff'),
         url('melbourne_light-webfont.ttf') format('truetype'),
         url('melbourne_light-webfont.svg#MelbourneLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MelbourneRegular';
    src: url('melbourne_regular-webfont.eot');
    src: url('melbourne_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('melbourne_regular-webfont.woff') format('woff'),
         url('melbourne_regular-webfont.ttf') format('truetype'),
         url('melbourne_regular-webfont.svg#MelbourneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

nav {
	margin-left: auto;
	margin-right: auto;
}

a:link	{
	color: #b49400;
	text-decoration: none;
	line-height: 26px;
}

a:visited 	{
	color: #b49400;
	text-decoration: none;
	line-height: 26px;
}

a:hover 	{
	color: #d1d7cb;
	text-decoration: none;
	line-height: 26px;
}

#slideshow {
	height:620px;
	width: 100%;
	top: 60px;
	right: 0px;
	left: 0px;
	background-color: #2e3437;
	margin-right:auto;
	margin-left: auto;
}

#slideshow IMG {
	position: absolute;
	top: 20px;
	z-index:8;
	width: 100%;
}

#slideshow IMG.active {
	z-index:10;
}

#slideshow IMG.last-active {
	z-index:9;
}

.content-panel {
	width: 940px;
	margin-top: 10px;
	margin bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
}

#welcome {
	width: 940px;
	padding-top: 40px;
	height: 300px;
}

#bed-breakfast {
	height: 500px;
}

#information {
	height: 430px;
	width: 100%;
	background: #2e3437;
}

h1, h2 {
	text-align: center;
	font-family: 'MelbourneRegular', Helvetica, sans-serif;
	font-size: 38px;
	font-weight: normal;
	color: #B49400;
	text-transform:uppercase;
	padding: 15px 0px 30px 0px;
	margin: 0 0 0 0;
}
/*
h2 {
	text-align: left;
	font-family: 'MelbourneRegular', Helvetica, sans-serif;
	color: #d1d7cb;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 0px 10px 0px;
	margin: 0 0 0 0;
}*/

h3 {
	font-family: 'Lora', Georgia, Times, serif;
	font-weight: 400;
	color: #b49400;
	font-size: 16px;
	line-height: 22px;
	margin: 16px 0px 0px 0px;
	text-transform: uppercase;
}

h4 {
	font-family: 'MelbourneRegular', Helvetica, sans serif;
	font-weight: 400;
	color: #d1d7cb;
	font-size: 20px;
	line-height: 22px;
	margin: 16px 0px 0px 0px;
	text-transform: uppercase;
}

p {
	font-family: 'Lora', Georgia, Times, serif;
	font-weight: 400;
	color: #d1d7cb;
	font-size: 16px;
	line-height: 22px;
}

p.display {
	font-size: 28px;
	line-height: 36px;
	padding-top: 0px;
	font-family: 'MelbourneRegular', Helvetica, sans serif;
	text-transform: uppercase;
	font-weight: normal;
	text-align:left;
	margin: 0;
}

p.welcome {
	font-family: 'Lora', Georgia, Times, serif;
	font-weight: 400;
	color: #d1d7cb;
	font-size: 20px;
	line-height: 28px;
}

.item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #2E3437;
    float: left;
    height: 105px;
    width: 310px;
    text-align: center;
}

.gallery.groupsgallery{
	height: 240px;
}

.item img.pug{
	margin-top: 13px;
}

.gallery {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-top: 0px;
	padding-bottom: 50px;
	/*height: 1450px;*/
	overflow: hidden;
}

.three-panel-left {
	float: left;
	vertical-align: top;
	width: 293px;
	margin: 0;
	padding: 0px 30px 0px 0px;
}

.bottom {
	padding-top: 30px;
	padding-bottom: 50px;
	background: #2e3437;
}

footer {
	width: 100%;
	height: 40px;
	background-color: #354441;
	position:fixed;
	bottom:0;
	z-index: 11;
}

#footer-content {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#address {
	float: left;
	color: #d1d7cb;
	font-family: 'MelbourneRegular', Helvetica, sans serif;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	padding-top: 16px;
	font-size: 14px;
}

#contacts {
	float: right;
	color: #d1d7cb;
	font-family: 'MelbourneRegular', Helvetica, sans serif;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	padding-top: 10px;
	font-size: 14px;
}

#mail {
	font-family: 'MelbourneRegular', Helvetica, sans serif;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 10px;
	word-spacing: 20px;
}

#hero-wrapper{
	background-image: url('./images/photo_3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	padding-top: 7px;
}

.color-hero{
	background-image: url('./images/photo_1.jpg');
}

.grayscale-hero {
	background-image: url('./images/photo_2.jpg');
}

header {
	/* background-color: #2E3437; */
	padding-bottom: 18px;
	padding-top: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

header nav {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
}

.text-wrapper {
	margin: 190px 0 0;
	width: 60%;
}

.text-wrapper p.display {
		font-size: 36px;
}
.text-wrapper p.lead {
	font-size: 18px;
	line-height: 1.8;
	font-family: 'MelbourneRegular', Helvetica, sans serif;
}

#logo-container{
	margin-right: 30px;
	float: left;
}

#logo-container #logo{
	  background-image: url('./images/manguezal-small.png');
    background-repeat: no-repeat;
		background-size: cover;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    margin-top: 10px;
    height: 38px;
    width: 180px;
}

.menu {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.menu li {
	display: inline-block;
	margin: 23px 15px 0;
}

.menu li a{
	font-size: 18px;
	color: white;
	font-family: 'MelbourneRegular', Helvetica, sans-serif;
}

.mc-field-group {
	text-align: center;
}

.mc-field-group .email {
	width: 50%;
	font-size: 20px;
	line-height: 1.5em;
	border-radius: .3rem;
	padding: .375rem .75rem;
	margin-right: 30px;
	border: .0625rem solid #ccc;
	background-color: #B9D0DC;
}
.mc-field-group .email:focus {
	border-color: white;
	outline: 0;
}

.mc-submit {
text-align: center;
}

#mc_embed_signup .button {
	padding: .65rem 1.25rem;
	font-size: 20px;
	line-height: 1.333333;
  border-radius: .3rem;
	border: .0625rem solid transparent;
	font-weight: 400;
	cursor: pointer;
	background-color: #6E7C83;
	border-color: #6E7C83;
	color: whitesmoke;
}

#mc_embed_signup .button:active, #mc_embed_signup .button:hover,
#mc_embed_signup .button:focus,  #mc_embed_signup .button:visited {

	background-color: #596469;
	border-color: #596469;
}


#mce-success-response, #mce-error-response {
	width: 68%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 5px 10px;
}

#mce-success-response {
	background: whitesmoke;
	border: 2px solid #ccc;
}

#mce-error-response {
 background: #FCD1F9;
 border: 2px solid #7C0B4C;
}

#events-welcome{
  width: 940px;
    padding-top: 40px;
    height: 500px;
  }
