@charset "UTF-8";

#header {
			top: 0px;
			left: 0px;
			background-color: transparent;
			background-image: url(./nav-bg.png);
			background-repeat: repeat-x;
			height: 40px;
			position: fixed;
			width: 100%;
			z-index: 11;}

body {
	margin: 0;
	background: #2E3437;
}





@font-face {
    font-family: 'MelbourneBold';
    src: url('melbourne_bold-webfont.eot');
    src: url('melbourne_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('melbourne_bold-webfont.woff') format('woff'),
         url('melbourne_bold-webfont.ttf') format('truetype'),
         url('melbourne_bold-webfont.svg#MelbourneBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MelbourneLight';
    src: url('melbourne_light-webfont.eot');
    src: url('melbourne_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('melbourne_light-webfont.woff') format('woff'),
         url('melbourne_light-webfont.ttf') format('truetype'),
         url('melbourne_light-webfont.svg#MelbourneLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MelbourneRegular';
    src: url('melbourne_regular-webfont.eot');
    src: url('melbourne_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('melbourne_regular-webfont.woff') format('woff'),
         url('melbourne_regular-webfont.ttf') format('truetype'),
         url('melbourne_regular-webfont.svg#MelbourneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



nav {
	margin-left: auto;
	margin-right: auto;
}
	
a:link	{
	color: #b49400;
	text-decoration: none;
	line-height: 26px;
}
			
a:visited 	{
			color: #b49400;
			text-decoration: none;
			line-height: 26px;}

a:hover 	{
			color: #d1d7cb;
			text-decoration: none;
			line-height: 26px;}





#slideshow {
    		height:620px;
			width: 100%;
			top: 60px;
			right: 0px;
			left: 0px;
			background-color: #2e3437;
			margin-right:auto;
			margin-left: auto;}


#slideshow IMG {
	position: absolute;
	top: 20px;
	z-index:8;
	width: 100%;
}

#slideshow IMG.active {
    		z-index:10;}

#slideshow IMG.last-active {
   			 z-index:9;}





.content-panel {
			width: 940px;
			margin-top: 10px;
			margin bottom: 10px;
			margin-right: auto;
			margin-left: auto;}

#welcome {
			width: 940px;
			padding-top: 40px;
			height: 300px;
		}
			


#bed-breakfast {
			height: 500px;}
			
#information {
	height: 300px;
	width: 100%;
	background: #2e3437;
}

h1 {		
			text-align: center;
			font-family: 'MelbourneRegular', Helvetica, sans-serif;
			font-size: 38px;
			font-weight: normal;
			color: #B49400;
			text-transform:uppercase;
			padding: 15px 0px 30px 0px;
			margin: 0 0 0 0;}

h2 {
			text-align: left;
			font-family: 'MelbourneRegular', Helvetica, sans-serif;
			color: #d1d7cb;
			font-size: 20px;
			font-weight: normal;
			text-transform: uppercase;
			padding: 10px 0px 10px 0px;
			margin: 0 0 0 0;}
			
h3 {
			font-family: 'Lora', Georgia, Times, serif;
			font-weight: 400;
			color: #b49400;
			font-size: 16px;
			line-height: 22px;
			margin: 16px 0px 0px 0px;
			text-transform: uppercase;}
h4 {	
			font-family: 'MelbourneRegular', Helvetica, sans serif;
			font-weight: 400;
			color: #d1d7cb;
			font-size: 20px;
			line-height: 22px;
			margin: 16px 0px 0px 0px;
			text-transform: uppercase;
			}

			
p {
			font-family: 'Lora', Georgia, Times, serif;
			font-weight: 400;
			color: #d1d7cb;
			font-size: 16px;
			line-height: 22px;}
	
p.display {
			font-size: 28px;
			line-height: 36px;
			padding-top: 0px;
			font-family: 'MelbourneRegular', Helvetica, sans serif;
			text-transform: uppercase;
			font-weight: normal;
			text-align:left;
			margin: 0;}
			
p.welcome {
			font-family: 'Lora', Georgia, Times, serif;
			font-weight: 400;
			color: #d1d7cb;
			font-size: 20px;
			line-height: 28px;}
			
.item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #2E3437;
    float: left;
    height: 105px;
    width: 310px;
}

#gallery {
			width: 940px; 
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			padding-top: 0px;
			height: 1650px; 
			padding-bottom: 30px;}
			
			
.three-panel-left {
			float: left;
			vertical-align: top; 
			width: 293px;
			margin: 0;
			padding: 0px 30px 0px 0px;}
		
.bottom {
			padding-top: 30px;
			padding-bottom: 50px;
			background: #2e3437;}
			



			
					
				

footer {
			width: 100%;
			height: 40px;
			background-color: #2e3437;
			position:fixed;
			bottom:0;
			z-index: 11;}
		
#footer-content {
			width: 940px;
			margin-left: auto;
			margin-right: auto;}
			
			
#address {
			float: left;
			color: #d1d7cb;
			font-family: 'MelbourneRegular', Helvetica, sans serif;
			text-transform: uppercase;
			letter-spacing: 0.07em;
			padding-top: 16px;
			font-size: 14px;}
			
#contacts {
			float: right;
			color: #d1d7cb;
			font-family: 'MelbourneRegular', Helvetica, sans serif;
			text-transform: uppercase;
			letter-spacing: 0.07em;
			padding-top: 10px;
			font-size: 14px;}
		

					
#mail {
			font-family: 'MelbourneRegular', Helvetica, sans serif;
			font-size: 14px;
			text-transform: uppercase;
			padding-top: 10px;
			padding-right: 10px;
			word-spacing: 20px;}
					
			
